@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: DancingScript, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    min-width: 100vw;
}

#root {
    height: inherit;
    width: inherit;
}

code {
    font-family: DancingScript, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
    .center-inner {
        @apply flex items-center justify-center
    }

    .center-inner-bottom {
        @apply flex justify-center items-end
    }

    .full-screen {
        @apply w-screen h-screen
    }

    .window-element {
        @apply h-screen w-screen md:h-[900px] md:w-[450px] rounded-2xl
    }

    .content {
        @apply text-3xl font-bold text-center text-primary
    }
}

@font-face {
    font-family: 'DancingScript';
    src: url("fonts/DancingScript-VariableFont_wght.ttf") format('truetype');
}